@inherits LayoutComponentBase


<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <MudGrid>
            <MudItem xs="1" Class="d-flex flex-column align-items-center justify-content-center" Style="height:100%;">
                <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Primary" OnClick="NavigateToHome" Size="Size.Large" Class="mt-2" Style=" height:40px;width:40px;margin-bottom:8px;" />
            </MudItem>
            <MudItem xs="2">
                <MudButton StartIcon="@Icons.Material.Filled.AccountBox" Color="Color.Primary" Variant="Variant.Filled" Class="mt-2" OnClick="OpenBusinessOwnerDialog">
                    Business Owner  
                </MudButton>
            </MudItem>
             <MudItem xs="6">
            </MudItem>
           
            <MudItem xs="3">
                <MudStack Row="true" Spacing="2">
                    <MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool">
                            @if (_isDarkMode)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.DarkMode" />
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.LightMode" />
                            }
                        </MudSwitch>
                    
                        <MudSelect T="string"
                                   Label="Language"
                                   Variant="Variant.Outlined"
                                   ValueChanged="ChangeLanguage"
                                   class="mr-10">
                            <MudSelectItem Value="@("en")">
                                <div style="display: flex; align-items: center; margin-top: 8px;">
                                    <MudImage Src="images/en.jpg" alt="English" class="mr-5" Width="25" Height="25" />
                                    English
                                </div>
                            </MudSelectItem>
                            <MudSelectItem Value="@("de")">
                                <div style="display: flex; align-items: center; margin-top: 8px;">
                                    <MudImage Src="images/de.jpg" alt="German" class="mr-5" Width="25" Height="25" />
                                    German
                                </div>
                            </MudSelectItem>
                        </MudSelect>
                </MudStack>
            </MudItem>
        </MudGrid>
    </div>

    <main>
        <div class="top-row px-4">
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
